//UserLogin
div {
  &.user-login {
    form {
      &.login-form {
        margin: 0 auto;
        margin-top: 50px;
        width: $login-form-width;
        .input {
          margin-top: 5px;
        }
      }
      button {
        &.login-button {
          margin-top: 5px;
          width: $login-form-width;
        }
      }
    }
    .bar-link {
      display: block;
      margin: 0 auto;
      margin-top: 5px;
      width: $login-form-width;
    }
  }
}

@media only screen and (max-width: 640px) {

  //UserLogin
  div {
    &.user-login {
      form {
        &.login-form {
          margin-top: 30px;
          width: 250px;
          .input {
            margin-top: 5px;
          }
        }
        button {
          &.login-button {
            margin-top: 5px;
            width: 250px;
          }
        }
      }
      .bar-link {
        margin-top: 5px;
        width: 250px;
      }
    }
  }
}
