div {
  &.bar-card {
    border-radius: 3px;
    height: 250px;
    margin: 20px auto;
    width: 250px;
    .card-image {
      width: 250px;
      .index-photo {
        border-radius: 3px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 150px;
        width: 250px;
      }
    }
    .bar-link-title {
      color: black;
      font-family: $family-primary;
      font-size: 22px;
      text-align: center;
    }
  }
}
