
div {
  div {
    &.row {
      .bar-info {
        background-color: $bright;
        color: white;
        font-family: $family-secondary;
        text-align: center;
        .page-title {
          font-size: 22px;
        }
      }
      .buttons-bar {
        background-color: $sub-grey;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
      }
    }
  }
  .show-container {
    width: $main-width;
    .map-image-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .image-container {
        height: 300px;
        .barshow-image {
          height: 300px;
        }
      }
    }
  }
}

.show-map {
  border-radius: 3px;
  height: 300px;
  width: 300px;
}
