
div {
  div {
    &.row {
      .bar-info {
        background-color: $bright;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $family-secondary;
        font-weight: bold;
        height: 130px;
        text-align: center;
        .page-title {
          font-size: 22px;
          font-weight: bold;
        }
      }
      .buttons-bar {
        background-color: $sub-grey;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
      }
    }
  }
  .show-container {
    width: $main-width;
    .bar-description {
      font-family: $family-secondary;
    }
    .map-image-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .image-container {
        height: 300px;
        .barshow-image {
          border-radius: 3px;
          height: 300px;
        }
      }
    }
  }
  .fixtures-title {
    font-family: $family-secondary;
    text-align: center;
  }
}

.show-map {
  border-radius: 3px;
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 900px) {

  div {
    .bar-info {
      height: 130px;
    }
    .show-container {
      width: 600px;
      .map-image-container {
        .image-container {
          height: 200px;
          .barshow-image {
            height: 200px;
          }
        }
        .show-map {
          height: 200px;
          width: 200px;
        }
      }
    }
  }
}


@media only screen and (max-width: 640px) {

  div {
    div {
      &.row {
        .bar-info {
          height: 80px;
          .page-title {
            font-size: 16px;
          }
          .page-info {
            font-size: 12px;
          }
        }
        .buttons-bar {
          height: 30px;
        }
      }
      .show-container {
        width: 300px;
        .bar-description {
          font-size: 10px;
        }
        .map-image-container {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .image-container {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
