div {
  &.index-map {
    height: 60vh;
    margin: auto;
    margin-top: 30px;
    width: $main-width;
  }
}

.bars-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: $main-width;
}





.button-area {
  height: 20vh;
}

.title {
  text-align: center;
}

#scrollButton {
  color: black;
  display: block;
  font-family: $family-primary;
  font-size: 26px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  width: 300px;
}

#target {
  height: 1000px;
}

@media only screen and (max-width: 640px) {
  div {
    &.index-map {
      height: 60vh;
      margin: auto;
      margin-top: 30px;
      width: 250px;
    }
  }

  .bars-container {
    width: 300px;
  }
}
