nav {
  &.is-transparent {
    background-color: $bright;
    color: white;
  }
  div {
    &.navbar-brand {
      a {
        h1 {
          font-family: $family-primary;
          font-weight: 100;
          font-size: 50px;
          margin-left: 100px;
        }
      }
    }
    .navbar-end {
      margin-right: 100px;
      .navbar-item {
        a {
          color: black;
          &.front-page {
            color: black;
            // font-weight: bold;
          }
        }
      }
    }
  }
}

.is-active {
  color: black;
}

@media only screen and (max-width: 900px) {

  nav {
    div {
      &.navbar-brand {
        a {
          h1 {
            font-size: 30px;
            margin-left: 0px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 640px) {

  nav {
    div {
      &.navbar-brand {
        a {
          h1 {
            font-size: 20px;
          }
        }
      }
    }
  }
}
