// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";



// $link: purple;
$primary: #FF88DC;
$primary-invert: #fff;
$link: #8884FF;
$success: #A0E8AF;
$danger: #FF5151;
$bright: #A0E8AF;
$sub-grey: $grey-light;
$main-grey: grey;
$background: white;
$family-primary: 'Source Sans Pro Extra-Light', sans-serif;
$family-secondary: 'Open Sans', sans-serif;
$main-width: 900px;

// 5. Add new color variables to the color map.
// @import "bulma/utilities/derived-variables.sass";
// $addColors: (
//   "twitter":($twitter, $twitter-invert),
//   "linkedin": ($linkedin, $linkedin-invert),
//   "github": ($github, $github-invert)
// );
// $colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "bulma/bulma";
@import "BarsIndex";
@import "navbar";
@import "matchCard";
@import "matchGrid";
@import "barCard";
@import "barShow";

// .google-map {
//   border-radius: 3px;
//   height: 60vh;
//   width: $main-width;
// }



body {
  &.in-transition {
    transition: transform 900ms ease;
  }
}

// .landing-page {
//   background-image: url('https://images.unsplash.com/photo-1505480028379-b84c78d9cd0a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0851951217db68695243460c6ff2c034&auto=format&fit=crop&w=2089&q=80');
//   height: 100vh;
// }

// .landing-page  {
//       background-size: cover;
//       background-position: center;
//       background-image: url('https://images.unsplash.com/photo-1505480028379-b84c78d9cd0a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0851951217db68695243460c6ff2c034&auto=format&fit=crop&w=2089&q=80');
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       opacity: 0.3;
//
// }
//
// .typewriter h2 {
//   overflow: hidden; /* Ensures the content is not revealed until the animation */
//   border-right: .15em solid #8884FF; /* The typwriter cursor */
//   white-space: nowrap; /* Keeps the content on a single line */
//   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
//   letter-spacing: .15em; /* Adjust as needed */
//   animation:
//     typing 3.5s steps(40, end),
//     blink-caret .75s step-end infinite;
// }

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #8884FF; }
}



.landing-page {
  background-color: $bright;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  height: 100vh;
  text-align: center;
  .banner-text {
    color: white;
    font-family: $family-primary;
    font-size: 40px;
    margin-top: 100px;
    overflow: hidden;
    white-space: nowrap;
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  .under-text {
    font-size: 18px;
  }
  .front-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    width: $main-width;
    h3 {
      font-family: $family-primary;
      font-size: 30px;
    }
  }
  a {
    // animation: blinker 5s linear infinite;
    // border: 1px solid white;
    // border-radius: 3px;
    color: white;
    display: inline-block;
    font-family: $family-primary;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    width: 400px;
  }
}

@media only screen and (max-width: 900px) {

  .landing-page {
    background-color: $bright;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 100vh;
    .banner-text {
      color: white;
      font-family: $family-primary;
      font-size: 40px;
      margin-top: 140px;
    }
    .front-links-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 50px;
      width: 600px;
      h3 {
        font-family: $family-primary;
        font-size: 30px;
      }
    }
    a {
      // animation: blinker 5s linear infinite;
      // border: 1px solid white;
      // border-radius: 3px;
      color: white;
      display: inline-block;
      font-family: $family-primary;
      font-size: 30px;
      margin-top: 50px;
      text-align: center;
      width: 400px;
    }
  }
}

@media only screen and (max-width: 640px) {

  .landing-page {
    background-color: $bright;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 100vh;
    .banner-text {
      color: white;
      font-family: $family-primary;
      font-size: 25px;
      margin-top: 100px;
    }
    .under-text {
      font-size: 10px;
    }
    .front-links-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 0px;
      text-align: center;
      width: 300px;
      h3 {
        font-family: $family-primary;
        font-size: 20px;
        margin-top: 30px;
      }
    }
    a {
      // animation: blinker 5s linear infinite;
      // border: 1px solid white;
      // border-radius: 3px;
      color: white;
      display: inline-block;
      font-family: $family-primary;
      font-size: 20px;
      margin-top: 30px;
      text-align: center;
      width: 300px;
    }
  }
}
