// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";



// $link: purple;
$primary: #FF88DC;
$primary-invert: #fff;
$link: #8884FF;
$success: #A0E8AF;
$danger: #FF5151;
$bright: #A0E8AF;
$sub-grey: $grey-light;
$main-grey: grey;
$background: white;
$family-primary: 'Source Sans Pro Extra-Light', sans-serif;
$family-secondary: 'Open Sans', sans-serif;
$main-width: 900px;

// 5. Add new color variables to the color map.
// @import "bulma/utilities/derived-variables.sass";
// $addColors: (
//   "twitter":($twitter, $twitter-invert),
//   "linkedin": ($linkedin, $linkedin-invert),
//   "github": ($github, $github-invert)
// );
// $colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "bulma/bulma";
@import "BarsIndex";
@import "navbar";
@import "matchCard";
@import "matchGrid";
@import "barCard";
@import "barShow";

// .google-map {
//   border-radius: 3px;
//   height: 60vh;
//   width: $main-width;
// }



body {
  &.in-transition {
    transition: transform 900ms ease;
  }
}

.landing-page {
  background-image: url('https://images.unsplash.com/photo-1485905947173-6c548e51181c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e105d1cf2fa7351ecb8c15c6948b46d7&auto=format&fit=crop&w=1674&q=800');
  height: 100vh;
}
